@import "variables.scss";

*{
	margin: 0;
	padding: 0;
	font-family: Arial;
	box-sizing: border-box;
}

body{
	color:#fff;
	background-color: $body-bg-color;
}

#particles{
	display: block;
	position: absolute;
	width: 100vw;
	height: 100vh;
}

.container{
	display: block;
	width: 100vw;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 900px){
	.container{
		margin-left: 10px;
		margin-right: 10px;
	}
}

.text{
	display: block;
	position: fixed;
	width: calc(100vw - 20px);
	max-width: 500px;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	
	background-color: $body-bg-color;

	text-transform: uppercase;

	border: 1px solid #fff;
	border-radius: 5em;

	top: calc((100vh - 50px) / 2);
	left: calc((100vw - 500px) / 2);
	transition-property: color, background-color;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;

	&:hover{
		background-color: #fff;
		color:$body-bg-color;
	}
}

@media screen and (max-width: 500px){
	.text{
		left: 10px;
	}
}